<div id="header" class="text-center">
	<div class="header-content">
  		<h1 style="font-size: 60px;"> My blog</h1>
  		<h2 style="font-family: 'Lato', sans-serif;"> <span id="target"> </span><span id="cursor"></span></h2>
	</div>
</div>

<br>
<br>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
