 <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   

     <div class="navbar-left kumity text-center">
      <h2 style="margin-top: 5px;"> Kumity </h2>

     </div>

     


    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="col-sm-4 list_nav navbar-left list-inline text-center">
    

        <li class="col-xs-12 col-sm-4" style="font-family: 'Lato', sans-serif;font-size: 20px; padding-right: 30px;padding-top: 15px;"> <%= link_to "Articles", articles_path, :class => "link_nav" %></li>
        <li class="col-xs-12 col-sm-4" style="font-family: 'Lato', sans-serif;font-size: 20px;padding-right: 30px; padding-top: 15px;"> <%= link_to "Video", articles_path, :class => "link_nav" %> </li>
        <li class="col-xs-12 col-sm-4" style="font-family: 'Lato', sans-serif;font-size: 20px; padding-right: 30px; padding-top: 15px;"> <%= link_to "WTF", articles_path, :class => "link_nav" %></li>
     
      </ul>


      <h2 class="col-sm-4 kumity_logo text-center" style="margin-top: 5px;"> Kumity </h2>

    <div class="col-sm-4 box_nav">
    </div>

     
      <ul class="col-sm-4 nav navbar-nav list-inline text-center list_social_icon">
    
     
      <li class="col-xs-12 col-sm-4" style="color: white; font-size: 35px; padding-right: 30px;padding-top: 10px;"><i class="fa fa-facebook" aria-hidden="true"></i></li>
      <li class="col-xs-12 col-sm-4" style="color: white; font-size: 35px;padding-right: 30px; padding-top: 10px;"><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li class="col-xs-12 col-sm-4" style="color: white; font-size: 35px; padding-right: 30px; padding-top: 10px;"><i class="fa fa-instagram" aria-hidden="true"></i></li>
     <!--  <li style="color: white; font-size: 35px; padding-right: 30px; padding-top: 10px;"><input type="text" class="form-control" placeholder="Search" style="border-radius: 20px;"></li> -->
      

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<script>

  (function(){
    $(window).scroll(function() {

        // check if window scroll for more than 430px. May vary
        // as per the height of your main banner.

        if($(this).scrollTop() > 250) {
            $('.navbar').addClass('opaque_nav_bar_variation'); // adding the opaque_nav_bar_variation class
        } else {
            $('.navbar').removeClass('opaque_nav_bar_variation'); // removing the opaque_nav_bar_variation class
        }
    });
  })();

  (function(){
    $(window).scroll(function() {

        // check if window scroll for more than 430px. May vary
        // as per the height of your main banner.

        if($(this).scrollTop() > 250) {
            $('.kumity_logo').addClass('opaque_logo'); // adding the opaque_nav_bar_variation class
        } else {
            $('.kumity_logo').removeClass('opaque_logo'); // removing the opaque_nav_bar_variation class
        }
    });
  })();
(function(){
    $(window).scroll(function() {

        // check if window scroll for more than 430px. May vary
        // as per the height of your main banner.


        if($(this).scrollTop() > 250) {
            $('.link_nav').addClass('color_list_nav'); // adding the opaque_nav_bar_variation class
        } else {
            $('.link_nav').removeClass('color_list_nav'); // removing the opaque_nav_bar_variation class
        }
    });
  })();


// </script>