// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
  font-family: 'Lato', sans-serif;
  background-color: rgba(250, 250, 250, 1);
}

#header {
  /*background-attachment:fixed;*/
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: image-url("bg1.jpg");
  background-size: cover;
  color: white;
  top: 0;
  left: 0;
  margin:0;
  padding:0;
  position: block;
}


.header-content {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  background-color: rgba(0,0,0,0.2)
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover{
  opacity: 0.1;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description-show {
  position: absolute;
  bottom: 10px;
  
}

.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }



  .btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background-color: white;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

link:hover {
  background-color: white;
}

.box_short {
  border: 1px solid #858484;
  color: #858484;
  background-color: white; 
  padding: 10px 38px 10px 38px; 
  width: 175px; 
  

}


.kumity_laptop {
  display: block;
}
@media screen and (max-width: 768px) {
.mobile_box_short{
  border: 1px solid #282828;
  color: #282828;
  background-color: white; 
  padding: 8px 20px 8px 20px; 
  width: 145px; 
  color: #282828;
}
.kumity_laptop {
  display: none;
}

.header-content {
  padding-top: 30%;
  padding-bottom: 35%;
  width: 100%;
  background-color: rgba(0,0,0,0.2)
}
}